
footer {
	height: 100px;
	background: url('https://imgur.com/gc1HjiF');
	position: relative;
}

footer ul {
	display: flex;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

footer ul li {
	list-style-type: none;
}

footer ul li a {
	text-decoration: none;
	font-size: 25px;
	width: 50px;
	height: 10px;
	line-height: 50px;
	background: #333;
	color: #FFF;
	text-align: center;
	margin: 0 45px;
	display: block;
	border-radius: 50%;
	position: relative;
	overflow: hidden;
}
footer ul li a:hover {
	transition: .5s;
	color: #333;
	background: #FFF;
}
footer p {
	text-align: center;
	display: block;
}
.text-white{
	height: 200px;
	background-attachment: fixed;
    background-position-y: cover;
    background-size: cover;
    padding: 0;
    margin: auto;
	
}


