<!-- <footer>
  <div class="container">
    <ul>
      <li><a href="http://www.facebook.com" alt="Facebook Page"><i class="fab fa-facebook"></i></a></li>
      <li><a href="http://www.twitter.com" alt="Twitter Page"><i class="fab fa-twitter"></i></a></li>
      <li><a href="http://www.instagram.com" alt="Instagram Page"><i class="fab fa-instagram"></i></a></li>
      <li><a href="http://www.instagram.com" alt="Instagram Page"><i class="fa-brands fa-flickr"></i></a></li>
    </ul>
    <div class="text-center p-3">
      © 2023 Copyright: Benvenuto al Ristorante -->

  


    <div class="container my-1 text-center">
      
      <hr>
       
      <hr>
    
      <footer class="text-center text-white fixed-bottom" style="background-color: black">
  
        <div class="container p-10 pb-0">
          <section class="mb-10">
            <a
               class="btn btn-primary btn-floating"
               style="background-color: #3b5998;"
               href="#!"
               role="button"
               ><i class="fab fa-facebook-f"></i
              ></a>
    
            <a
               class="btn btn-primary btn-floating"
               style="background-color: #55acee;"
               href="#!"
               role="button"
               ><i class="fab fa-twitter"></i
              ></a>
    
            <a
               class="btn btn-primary btn-floating"
               style="background-color: #dd4b39;"
               href="#!"
               role="button"
               ><i class="fab fa-google"></i
              ></a>
  
            <a
               class="btn btn-primary btn-floating"
               style="background-color: #ac2bac;"
               href="#!"
               role="button"
               ><i class="fab fa-instagram"></i
              ></a>
    
            <a
               class="btn btn-primary btn-floating"
               style="background-color: #0082ca;"
               href="#!"
               role="button"
               ><i class="fab fa-linkedin-in"></i
              ></a>
            <a
               class="btn btn-primary btn-floating"
               style="background-color:gray;"
               href="#!"
               role="button"
               ><i class="fab fa-github"></i
              ></a>
          </section>
        </div>
        <div class="text-center" style="background-color:black margin-0px"><br>
          Copyright © 2023 
          <a>NINA LEE |P H O T O G R A P H Y</a>
        </div>
      </footer>
    
    </div>
