<div class="top">
  <header class="py-5">
    <h1 id="head" class="animate__animated animate__zoomInDown">NINA LEE PHOTOGRAPHY</h1>
  </header>

  <table>
    <tr class="d-flex flex-column flex-md-row">
      <td class="mx-5">
        <img id="img1" class="animate__animated animate__slideInLeft"
          src="https://cdn.pixabay.com/photo/2015/01/06/16/14/woman-590490_1280.jpg" alt="">
      </td>
      <div>
        <td>
          <h5 class="animate__animated animate__slideInRight">

            <p>
              <span id="Bio">
                <li>Biography</li>
              </span>
              <br>
              travel & documentary photographer
              <br>
              BORN 1989 IN ITALY, I'M A PASSIONATE EXPLORER AND ADVENTURER AT HEART,
              WITH A STRONG ATTRACTION FOR REMOTE PLACES, CULTURES, AND LIFESTYLES.<br> the United States in 1939, she
              had also lived in Italy and Switzerland. Her first photographs to be published in Life in April 1940 were
              of tortoises at the Bronx Zoo, taken with her Rolleiflex camera. While she never became a staff
              photographer at Life, she contributed as a contract<br> photographer until the magazine closed in 1972.[5]
              Leen was a prolific photographer of fashion for Life, and was long married to the fashion photographer
              Serge Balkin.[1] She was recognised<br> with inclusion by Edward Steichen of two of her photographs in The
              Family of Man international <br>touring exhibition; one a photograph of a child at a blackboard, the
              other, several generations of an Ozark farming family (later selected by Carl Sagan for the 12 inch
              Voyager golden <br>records).
              <br>
              Over the years, Leen was behind over 50 magazine covers and contributed countless reports from around the
              world, including the story of her dog Lucky which<br> began in 1949 and later led to a book. In addition
              to her many animal stories, she is remembered for covering young people <br> in the 1940s and 1950s and
              the group of artists known as The Irascibles.<br> She also documented European royalty, fashion models,
              dance, and actresses. From 1973, Leen<br> avidly continued to publish her work in book form, including her
              notable images of bats which she called her flying kittens.
            </p>


          </h5>
        </td>
      </div>
    </tr>
    <div>
      <h2 id="h21">this picture was made 1995</h2>
    </div>
    <tr>
      <td class="d-flex justify-content-center">
        <img id="img2" class="animate__animated animate__lightSpeedInLeft"
          src="https://www.thetimes.co.uk/imageserver/image/%2Fmethode%2Ftimes%2Fprod%2Fweb%2Fbin%2F42f27fd8-5510-11e8-9795-08ef69e784e8.jpg?crop=2118%2C1191%2C0%2C110&resize=1500"
          alt="">
      </td>
    </tr>
  </table>
</div>

<div class="p-5" style="color:rgb(0, 0, 0); background-color: black;">
  <hr>
</div>
<div style="color:rgb(237, 229, 229); background-color: black; padding: 0px;">
  <hr>
</div>
<!-- contact Form start -->
<!-- ------------------------------------------------------------------------------------------------ -->
<div class="background" id="AnchorId">
  <div class="container">
    <div class="screen">
      <div class="screen-body">
        <div class="screen-body-item left">
          <div class="app-title">
            <span>CONTACT US</span>
            <!-- her we can use mor  -->
          </div>
        </div>
        <div class="screen-body-item">
          <div class="app-form">
            <div class="app-form-group">
              <input class="app-form-control" placeholder="Name" value="">
            </div>
            <div class="app-form-group">
              <input class="app-form-control" placeholder="Email">
            </div>
            <div class="app-form-group">
              <input class="app-form-control" placeholder="Phone number">
            </div>
            <div>
            </div>
            <div>
              <textarea type="text-area" class="app-form-control" placeholder="Message"></textarea>
            </div>
            <div class="app-form-group buttons p-4">
              <button class="app-form-button"
                [swal]="['sent!', 'we will get in touch as soon as possible', 'success']">SEND</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>