<div class="top">
  <header>
    <h1 id="head" class="animate__animated animate__heartBeat">See the Sun</h1>
  </header>
  <table>
    <tr class="d-flex flex-column flex-md-row ">
      <td class="mx-5">
        <img id="img1" class="animate__animated "
          src="https://cdn.pixabay.com/photo/2015/01/06/16/14/woman-590490_1280.jpg" alt="">
      </td>
      <div>
        <td>
          <h5 class="animate__animated ">
            I love capturing the emotions of human connections with my pictures. This also includes authentic friendship
            pictures, which I think have a very special value. <br>
            And when do you get all your best friends together in one day?
            Exactly: on your bachelorette party.<br>
            I am always happy when dedicated maids of honor contact me. A JGA shooting is always an unforgettable
            program item on such a special day.<br>
            Based on my JGA portfolio, you can see that even snow and rain don't spoil the mood
          </h5>
        </td>
      </div>
    </tr>
    <tr>
      <td>
        <img id="img2" class="animate__animated animate__lightSpeedInLeft"
          src="https://cdn.pixabay.com/photo/2018/03/20/22/04/camera-3244872_1280.jpg" alt="">
      </td>
    </tr>
  </table>
</div>

<!-- contact Form start -->
<!-- ------------------------------------------------------------------------------------------------ -->
<div class="background">
  <div class="container">
    <div class="screen">
      <div class="screen-body">
        <div class="screen-body-item left">
          <div class="app-title">
            <span>CONTACT US</span>
            <!-- her we can use mor  -->
          </div>
        </div>
        <div class="screen-body-item">
          <div class="app-form">
            <div class="app-form-group">
              <input class="app-form-control" placeholder="Name" value="">
            </div>
            <div class="app-form-group">
              <input class="app-form-control" placeholder="Email">
            </div>
            <div class="app-form-group">
              <input class="app-form-control" placeholder="Phone number">
            </div>
            <div>
            </div>
            <div>
              <textarea type="text-area" class="app-form-control" placeholder="Message"></textarea>
            </div>
            <div class="app-form-group buttons p-4">
              <button class="app-form-button"
                [swal]="['sent!', 'we will get in touch as soon as possible', 'success']">SEND</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>