
<div class="top">
    <header>
        <h1 id="head">About us</h1>
    </header>
    <body>
         <table>
            <tr>
                <td>
                    <img src="https://cdn.pixabay.com/photo/2023/02/02/13/27/cat-7762887_1280.jpg" alt="">
                </td>
                <td>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis, doloremque qui eaque esse quo inventore sunt, illo nesciunt perferendis dignissimos quibusdam, repudiandae eum labore? Quidem officia unde quas recusandae iste? <br> Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro quae, a, dolore nisi et ipsa repellendus vitae eos at consectetur impedit maiores temporibus ipsum. Quos beatae cum architecto dolorem recusandae.
                    </p>
                </td>
            </tr>
    
            <tr>
    
            </tr>
         </table>
    </body>
    
    <!-- contact Form start -->
     <!-- ------------------------------------------------------------------------------------------------ -->
    <div class="background">
        <div class="container">
          <div class="screen">
            <div class="screen-body">
              <div class="screen-body-item left">
                <div class="app-title">
                  <span>CONTACT US</span>
                  <!-- her we can use mor  -->
                </div>
              </div>
              <div class="screen-body-item">
                <div class="app-form">
                  <div class="app-form-group">
                    <input class="app-form-control" placeholder="Name" value="">
                  </div>
                  <div class="app-form-group">
                    <input class="app-form-control" placeholder="Email">
                  </div>
                  <div class="app-form-group">
                    <input class="app-form-control" placeholder="Phone number">
                  </div>
                  <div class="">
                    <input type="text" class="app-form-control" placeholder="Message">
                  </div>
                  <div class="app-form-group buttons">
                    <button class="app-form-button">SEND</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
      